{% load static %}

<div class="key-signatures-container">

  <!-- ROW 1: No Flats or Sharps -->
  <div class="key-row">
    <div class="key-signatures">
      {% for group_name, group_options, index in widget.optgroups %}
        {% for option in group_options %}
          {% if option.value == "0 flats or sharps" %}
            <label class="key-option" for="{{ option.attrs.id }}">
              <input type="{{ option.type }}" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.attrs.id }}" {% if option.selected %}checked{% endif %}>
              <img src="{% static 'images/key_signatures/' %}{{ option.value|urlencode }}.jpg" alt="{{ option.label }}">
              <span class="option-label">{{ option.label }}</span>
            </label>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <!-- ROW 2: Sharps (Excludes 0) -->
  <div class="key-row">
    <div class="key-signatures">
      {% for group_name, group_options, index in widget.optgroups %}
        {% for option in group_options %}
          {% if "sharp" in option.value and "0" not in option.value %}
            <label class="key-option" for="{{ option.attrs.id }}">
              <input type="{{ option.type }}" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.attrs.id }}" {% if option.selected %}checked{% endif %}>
              <img src="{% static 'images/key_signatures/' %}{{ option.value|urlencode }}.jpg" alt="{{ option.label }}">
              <span class="option-label">{{ option.label }}</span>
            </label>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <!-- ROW 3: Flats (Excludes 0) -->
  <div class="key-row">
    <div class="key-signatures">
      {% for group_name, group_options, index in widget.optgroups %}
        {% for option in group_options %}
          {% if "flat" in option.value and "0" not in option.value %}
            <label class="key-option" for="{{ option.attrs.id }}">
              <input type="{{ option.type }}" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.attrs.id }}" {% if option.selected %}checked{% endif %}>
              <img src="{% static 'images/key_signatures/' %}{{ option.value|urlencode }}.jpg" alt="{{ option.label }}">
              <span class="option-label">{{ option.label }}</span>
            </label>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>